
 <!-- <center> <h1>Crear Autoridades</h1> </center>
 <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">

 <div class="card">
    <h5>Usuarios</h5>
    <p> </p>
    <p-table [value]="authorities" selectionMode="single" [(selection)]="autoridad" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nombre Completo</th>
                <th>Identificacion</th>
                <th>Correo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-auto>
            <tr [pSelectableRow]="auto">
                <td>{{auto.id}}</td>
                <td>{{auto.full_name}}</td>
                <td>{{auto.identification}}</td>
                <td>{{auto.email}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>   

     <label >
         Funciones:
     </label>     

     <div formArrayName="functions">
         <div *ngFor="let control of functions.controls; let i = index">
     <input type="text" pInputText [formControlName]="i"> 
        </div>
    </div>        
    <label>Posición:</label><br />
    <p-dropdown [options]="position" optionLabel="name" formControlName="position" ></p-dropdown>  

    <label>
        Estado
    </label>
    <p-dropdown [options]="status"  optionLabel="name" formControlName="status"></p-dropdown>
    
    <label>
        Fecha de Inicio:
    </label>
    <p-calendar dateFormat="dd/mm/yy" formControlName="start_date"></p-calendar>
    <label>
        Fecha de Terminación:
    </label>
    <p-calendar dateFormat="dd/mm/yy" formControlName="end_date"></p-calendar>
     </form>

     <span class="p-buttonset">
        <button pButton type="button" label="Guardar" icon="pi pi-check"></button>
        <button pButton type="button" class="p-button-info" label="Borrar" icon="pi pi-trash"></button>
        <button pButton type="button" class="p-button-danger" label="Eliminar" icon="pi pi-times"></button>
    </span>

    <!-- <button type="button" (click)="guardar()">Guardar</button> --> 

    


 <!--  <pre>
     {{formulario.value|json}}
 </pre>  -->

 -->