
 <h1>Crear Autoridades</h1> 
 
 <table>
     <thead>
         <tr>
             <th>Ïndice</th>
             <th>Nombre</th>
             <th>Función</th>
             <th>Fecha de Inicio</th>
             <th>Fecha de Finalización</th>
        </tr>
     </thead>
     <tbody>
         <tr>

         </tr>
     </tbody>
 </table>
   
 <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">
     <label >
         Funciones:
     </label>
     <div formArrayName="functions">
         <div *ngFor="let control of functions.controls; let i = index">
     <input type="text"  [formControlName]="i"> 
        </div>
    </div>        
    <label>Posición:</label><br />
    <select formControlName="position">
      <option [value]="item.id" *ngFor="let item of position">
        {{ item.name }}
      </option>
    </select>
    <label>
        Estado
    </label>
    <select formControlName="status">
        <option [value]="item.id" *ngFor="let item of status">
          {{ item.name }}
        </option>
      </select>
    <label>
        Fecha de Inicio:
    </label>
    <input type="date" formControlName="start_date">
    <label>
        Fecha de Terminación:
    </label>
    <input type="date" formControlName="end_date">
     </form>

     <button type="button" (click)="guardar()">Guardar</button>

 <!-- <pre>
     {{authorities|json}}
 </pre> -->

