<!-- <div class="p-fluid">
    <form [formGroup]="formCecyIn" (ngSubmit)="onSubmit($event)">
        <div [formGroupName]="">

        </div>
    </form>
</div> -->

 <h1>cecy Authority</h1> 
   
 <!-- <cecy-skeleton *ngIf="flagAuthorities" [type]="'table'"></cecy-skeleton>
   <div class="card" [hidden]="flagAuthorities" ></div>
     <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
        
                <h1>cecy Authority</h1>
           
             <button pButton pRipple type="button"
                     id="btnOpenFormAuthority" label="Crear" class="p-button-success p-button-rounded" icon="pi pi-plus" (click)="openNewFormAuthority()">
             </button>        
             <button pButton pRipple type="button"
                     id="btnOpenDeletes" label="Eliminar" class="p-button-danger p-button-rounded p-ml-2" icon="pi pi-trash" (click)="deleteAuthorities()" [disabled]="!selectedAuthorities">
             </button>      
    </ng-template>

    <ng-template pTemplate="right">
        <button pButton pRipple type="button"
                     id="btnFresh" label="Actualizar" class="p-button-info p-button-rounded p-ml-2" icon="pi pi-refresh" (click)="deleteAuthorities()" [disabled]="!selectedAuthorities">
             </button>  

    </ng-template>

     </p-toolbar>
 -->
 